.name {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 23px;

}

.lowell {
    text-align: center;

}

h1:hover {
    background-color: white;
}

h2:hover {
    background-color: #34eb7a;
}

h3:hover {
    background-color: #34ebcd;
}


.list {
    text-align: center;
    font-family: 'Cormorant', serif;


}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


h3 {
    text-align: center;
    font-family: 'Benne', serif;
}

img {
    border: 5px solid #34eb7a;
    width: 70%;
    height: auto;
}

body {
    background-color: #7FDBFF;
}

.lowell {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.taggers {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

p {
    text-align: center;
    font-family: 'Shippori Mincho', serif;
    font-size: 17px;
}